# folders
Hyperband_references/

# Ignore Mac system files
.DS_store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# glove pretrained model in pkl file:
glove_pretrained_840b_300d.pkl

# other datasets
abcnews-date-text.csv
